
{% extends 'back_office/base.html.twig' %}

{% block title %} {% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('backOffice/css/custom/dataTables.bootstrap5.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="row">
        <!--end col-->
        <div class="col-xxl-12">
            <div class="card" style="padding: 20px 20px;">
                <table class="table" id="fiche-list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>NomPatient</th>
                        <th>Date_naissance</th>
                        <th>Email</th>
                        <th>Tel</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fiche in fiches %}
                        <tr>
                            <td>{{ fiche.id }}</td>
                            <td>{{ fiche.nomPatient }}</td>
                            <td>{{ fiche.dateNaissance ? fiche.dateNaissance|date('Y-m-d') : '' }}</td>
                            <td>{{ fiche.email }}</td>
                            <td>{{ fiche.tel }}</td>
                            <td>
                                <a href="{{ path('app_fiche_delete', {'id': fiche.id}) }}" onclick="return confirm('Do you want to delete this item?')"><img src="{{ asset('frontOffice/assets/images/delete.png') }}" alt="Logo"></a>
                                <a href="{{ path('app_fiche_edit', {'id': fiche.id}) }}"><img src="{{ asset('frontOffice/assets/images/edit2.png') }}" alt="Logo"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('backOffice/js/custom/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('backOffice/js/custom/dataTables.bootstrap5.min.js') }}"></script>
    <script>
        $('#fiche-list').DataTable();
    </script>
{% endblock %}
